@import '~antd/dist/antd.css'; // -> Para que funcione antd
@import "./Vars.scss";
@import "./Media.scss"; // -> Este es el archivo que contiene los media query's


html {
  font-size: 62.5%;
  /*1 rem = 10px*/
}

body {
  margin: 0;
  font-family: $theme-font;
  background: $main-color;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.ant-notification-notice-message {
  color: white;
}

.ant-notification-close-icon {
  color: white;
}